<section class="my-3 ">

    <div class="container">

        <div class="text-white">
            <h1 class="fw-bold fs-1 ">Hello, {{userId.name}} </h1>
        <p class="lead">Here is all your orders with us !</p>
        </div>

        <div class="row">
            @for(order of userOrders ; track order.id){
                <div class="col-12 col-md-4 p-2">
                    <div class="order position-relative p-3 rounded-3">
                        <span class="payment"> {{order.paymentMethodType}} </span>
                        <h1 class="fw-medium fs-3">Orderd Number : #{{order.id}} </h1>
                        @if(order.isDelivered){<p class="lead"> Order status: <span class="fw-bold">Delivered</span> </p>}@else {<p class="lead"> Order status: <span class="fw-bold text-warning">Pending</span> </p>}
                        @if(order.isPaid){<p class="lead "> Order payment status: <span class="fw-bold text-success">Paid</span> </p>}@else {<p class="lead"> Order payment status: <span class="fw-bold text-primary-emphasis">Unpaid</span> </p>}
                        <div class="p-3 rounded-3 bg-primary-subtle my-3">
                            <h2>Shipment Deatils</h2>
                            <h3 class="fw-medium"> {{order.shippingAddress.details}} </h3>
                            <h3 class="fw-medium"> {{order.shippingAddress.city}} </h3>
                            <h3 class="fw-medium"> {{order.shippingAddress.phone}} </h3>
                        </div>    
                        <div class="my-3 p-2">
                            <h3 class="text-center fw-bold"> Order Price: {{order.totalOrderPrice |currency :'GBP'}} </h3>
                        </div>                    
                    </div>
                </div>
            }
        </div>

    </div>

</section>