:host{
    display: block;
    background-image: url(./../../../../../public/images/allorders2.jpg);
    background-position: center center;
    background-size: cover;
    min-height: auto;
    border-radius: 1%;
}
.order {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.2s;
}
.order:hover{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);


}

.payment {
    position: absolute;
    top: 4%;
    right: 4%;
    background-color: lightseagreen;
    font-size: 1.5rem;
    font-weight: 700;
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 10%;
}