.navbar{
    background-color: rgb(226, 236, 246);
    transition: all 0.5s;
}
.nav-link:hover{
    color: rgb(13, 172, 13);
}
.logout{
    cursor: pointer;
}
.count {
    background-color: rgb(242, 143, 143);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -70%;
    /* left: 30%; */
    color: aliceblue;
}