<footer>


    <div class="container-md">
        <div class=" d-flex flex-column flex-md-row align-items-center justify-content-between">

            <div>
                <h1 class="fs-1 fw-bold text-capitalize my-3">get the fresh-cart app</h1>
                <p class="lead my-3">Fresh-cart is using PWA and you can easily install it in your platfom by one click
                    !</p>
            </div>

            <div>
                <p class="text-muted">By clicking in this icon in your URL, Your website will turn to platform-like app
                </p>
                <img src="./images/PWA.png" class="w-100 d-block my-3" alt="">
            </div>
        </div>

        <div class=" d-flex justify-content-between align-items-center column-gap-3">
            <h2>Payment Partners</h2>
            <div class="w-25">
                <div class="row p-2 m-0 align-items-center">
                    <div class="col-6 col-md-3 p-2">
                        <div class="partner-img">
                            <img class="w-100 d-block" src="./images/mastercard.webp" alt="">
                        </div>
                    </div>
                    <div class="col-6 col-md-3 p-2">
                        <div class="partner-img">
                            <img class="w-100 d-block" src="./images/paypal.png" alt="">
                        </div>
                    </div>
                    <div class="col-6 col-md-3 p-2">
                        <div class="partner-img">
                            <img class="w-100 d-block" src="./images/amazon-pay.png" alt="">
                        </div>
                    </div>
                    <div class="col-6 col-md-3 p-2">
                        <div class="partner-img">
                            <img class="w-100 d-block" src="./images/American-Express-Color.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</footer>